@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #2563eb;
  --color-secondary: #475569;
  --color-accent: #f59e0b;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 transition-colors duration-200;
  }
}